* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
  }
  
.row::after {
    content: "";
    clear: both;
    display: table;
  }


@media screen and (max-width: 500px) {
  
    .column {
        width: 100%;
      }
    
    .LatimeMatCard{
        width: 400px;
    }
    
}
@media screen and (min-width: 600px) {
    .LatimeMatCard{
        width: 1000px;
    }
    
    
    
    
}