<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



<div>
    <mat-card class="header">
        <div style="overflow: hidden;">
            <p class="titlu" style="float: left;">Master Chef Devs</p>
            <a href="/search" class="PCorMobile" style="float: right; color: white;">&lt; Back</a>
        </div>
    </mat-card>
</div>


<div fxLayoutAlign="center center" fxLayout="column">
    <p style="color: #147160; font-size: 50px;padding-top: 20px;">{{restaurant?.nameR}}</p>
    <br>
    <p style="color: #147160; font-size: 30px;">{{restaurant?.adresa}}</p>
    <br>
    <p>
        <a href="#">
            <span *ngFor="let review of reviewAverage; index as i">
                <span *ngIf="reviewAverage[i]==1" class="glyphicon glyphicon-star"
                    style="color: #147160; font-size:25px;"></span>
                <span *ngIf="reviewAverage[i]===0" class="glyphicon glyphicon-star-empty"
                    style="color: #147160; font-size:25px;"></span>
            </span>
        </a>

    </p>


    <mat-card fxFlex="35" class="LatimeMatCard">
        <div fxLayoutAlign="stretch" fxLayout="column">
            <div style="text-align: center;">
                <label style="color: #147160; font-size:20px;">Statistics</label>
            </div>
            <span fxLayoutAlign="left center" fxFlexFill>
                <div class="row">
                    <div class="column">
                        <p>Average reserved seats per day</p>
                        <ngx-charts-bar-vertical [view]="view" [results]="byDay" [xAxis]="showXAxis"
                            [yAxis]="showYAxis">
                        </ngx-charts-bar-vertical>
                    </div>
                    <div class="column">
                        <p>Average reserved seats per hour</p>
                        <ngx-charts-bar-vertical [view]="view" [results]="byDayByHour" [xAxis]="showXAxis"
                            [yAxis]="showYAxis">
                        </ngx-charts-bar-vertical>
                    </div>
                </div>
            </span>

        </div>
    </mat-card>
</div>
<br>

<br>



<footer style="position: relative;left: 0;bottom: 0;width: 100%;">
    <div class="row">
        <div class="column">
            <a style="color: white;">URL here</a>
            <br>
            <br>
            <a style="color: white;">URL here</a>
        </div>
        <div class="column">
            <a style="color: white;">URL here</a>
            <br>
            <br>
            <a style="color: white;">URL here</a>
        </div>
    </div>
    <p>Copyright 2020 MCD<br>
    </p>
</footer>