<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div>
    <mat-card class="header">
        <div style="overflow: hidden;">
            <p class="titlu" style="float: left;">Master Chef Devs</p>
            <a href="/search" class="PCorMobile" style="float: right; color: white;">&lt; Back</a>
        </div>
    </mat-card>
</div>

<div fxLayoutAlign="center center" fxLayout="column">
    <p style="color: #147160; font-size: 50px;padding-top: 20px;">{{restaurant?.nameR}}</p>
    <br>
    <p style="color: #147160; font-size: 30px;">{{restaurant?.adresa}}</p>
    <br>
    <p>
        <a href="#">
            <span *ngFor="let review of reviewAverage; index as i">
                <span *ngIf="reviewAverage[i]==1" class="glyphicon glyphicon-star"
                    style="color: #147160; font-size:25px;"></span>
                <span *ngIf="reviewAverage[i]===0" class="glyphicon glyphicon-star-empty"
                    style="color: #147160; font-size:25px;"></span>
            </span>
        </a>
    </p>
</div>
<br>

<span>
    <label style="margin-left:15%;color: #147160; font-size: 30px; width: 50%;">Select Seats:</label>
</span>

<div fxLayoutAlign="center center" fxLayout="column" class="content">
    <label for="etajDropdown">Etaj: </label>
    <select id="etajDropdown" [(ngModel)]="etajSelectat">
        <ng-container *ngFor="let etaj of etaje">
            <option [value]="etaj">{{etaj}}</option>
        </ng-container>
    </select>
    <mat-card fxFlex="35" class="LatimeMatCard" style="padding: 0;">
        <div fxLayoutAlign="stretch" fxLayout="column" class="container-mese">
            <ng-template ngFor let-wall [ngForOf]="walls">
                <wall-block *ngIf="wall.etaj===etajSelectat" 
                            [wall]="wall"></wall-block>
            </ng-template>
            <ng-template ngFor let-table [ngForOf]="tables">
                <table-block *ngIf="table.etaj===etajSelectat" 
                    [table]="table" 
                    [seats]="table.nr_locuri" 
                    [isAvailable]="isAvailable(table)"
                    (onSelect)="tableSelected($event)"></table-block>
            </ng-template>
        </div>
    </mat-card>
    <br>
    <div class="row">
        <span>
            <div class="circle green"></div>
            Liber
        </span>
        <span>
            <div class="circle blue"></div>
            Ales
        </span>
        <span>
            <div class="circle red"></div>
            Ocupat
        </span>
    </div>
    <button mat-raised-button 
        class="LatimeButon" 
        (click)="submitReservation()"
        [disabled]="selectedTables.length === 0"
        style="background-color: #147160; color:white;">
        Make Reservation
    </button>
</div>

<footer style="position: relative;left: 0;bottom: 0;width: 100%;">
    <div class="row">
        <div class="column">
            <a style="color: white;">URL here</a>
            <br>
            <br>
            <a style="color: white;">URL here</a>
        </div>
        <div class="column">
            <a style="color: white;">URL here</a>
            <br>
            <br>
            <a style="color: white;">URL here</a>
        </div>
    </div>
    <p>Copyright 2020 MCD<br>
    </p>
</footer>