*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

/Mobile/.idea/caches
/Mobile/.idea/libraries
/Mobile/.idea/modules.xml
/Mobile/.idea/workspace.xml
/Mobile/.idea/navEditor.xml
/Mobile/.idea/assetWizardSettings.xml
