* {
    box-sizing: border-box;
}
.restaurantImage {
    max-width: 100%;
    max-height: 100%;
    border-radius: 12%;
}
.column1 {
    float: left;
    width: 50%;
    padding: 10px;
    height: 500px;
    padding-right: 150px;
    padding-left: 100px;
}
.column2 {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
    padding-right: 100px;
    padding-left: 150px;
}

.restaurant-card {
    cursor: pointer;
    margin: 15px;
    width: 295px;
    height: 295px;
    border-radius: 25px;
    margin: 15px 150px;

    img {
        width: 250px;
        height: 200px;
    }
}

.src-btn {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #147160;
    color: white;
}

.lista-rezervari-btn {
    background-color: #147160;
    color: white;
}

.lista-rezervari-btn:hover {
    text-decoration: none;
}

.search-container {
    display: flex;
    flex-direction: column;
    *{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 600px) {
    a.PCorMobile {
        display: none;
    }
    p.titlu {
        float: none;
        text-align: center;
        margin-left: 40%;
    }
  }

#main {
    width: 100vw;
    background-color: #06D6A0;
    padding-top: 0px;
    margin-top: 0px;
}
