<div>
    <mat-card class="header">
        <div style="overflow: hidden;">
            <p class="titlu" style="float: left;">Master Chef Devs</p>
            <a class="PCorMobile" style="float: right;color: white;">Login register</a>
        </div>
    </mat-card>
</div>
<br>
<br>
<div fxLayoutAlign="top center" fxLayout="column" fxFlexFill>
    
    <input style="font-size: 25px;">
    <br>
    <button style="color:white; background-color: #147160; font-size: 15px;">Search</button>
<hr><!--pt linie orizontala-->

<img id="top" src="assets/topp.svg">


<div id="main">
<div class="row">
    <div class="column1">
        <mat-card style="width: 295px; height: 250px; border-radius: 25px;">
            <div fxLayoutAlign="stretch" fxLayout="column">
                <mat-form-field>
                    <img class="pozaRestaurant"alt="Image restaurant" src="https://hoteldelcorso.ro/img/94930_D8A3444-FB.jpg">
                
                    <p>Nume restaurant</p>
                    <p>Adresa</p>
                </mat-form-field>
            </div>
            </mat-card>
        <br>
        <br>
        <mat-card style="width: 295px; height: 250px;border-radius: 25px;">
            <div fxLayoutAlign="stretch" fxLayout="column">
                <mat-form-field>
                    <img class="pozaRestaurant"alt="Image restaurant" src="https://hoteldelcorso.ro/img/94930_D8A3444-FB.jpg">
                
                    <p>Nume restaurant</p>
                    <p>Adresa</p>
                </mat-form-field>
            </div>
            </mat-card>
    </div>
    <div class="column2">
        <mat-card style="width: 295px; height: 250px;border-radius: 25px;">
            <div fxLayoutAlign="stretch" fxLayout="column">
                <mat-form-field>
                    <img class="pozaRestaurant"alt="Image restaurant" src="https://hoteldelcorso.ro/img/94930_D8A3444-FB.jpg">
                    <p>Nume restaurant</p>
                    <p>Adresa</p>
                </mat-form-field>
            </div>
            </mat-card>
        <br>
        <br>
        <mat-card style="width: 295px; height: 250px; border-radius: 25px;">
            <div fxLayoutAlign="stretch" fxLayout="column">
                <mat-form-field>
                    <img class="pozaRestaurant" alt="Image restaurant" src="https://hoteldelcorso.ro/img/94930_D8A3444-FB.jpg">
                
                    <p>Nume restaurant</p>
                    <p>Adresa</p>
                </mat-form-field>
            </div>
            </mat-card>
    </div>
</div>
</div>
</div>
<br>
<br>
<br>
<footer>
    <div class="row">
        <div class="column">
            <a>URL here</a>
            <br>
            <br>
            <a>URL here</a>
        </div>
        <div class="column">
            <a>URL here</a>
            <br>
            <br>
            <a>URL here</a>
        </div>
    </div>
    <p>Copyright 2020 MCD<br>
    </p>
</footer>