* {
    box-sizing: border-box;
}
.restaurantImage {
    width: 100%;
    border-radius: 12%;
}
.column1 {
    float: left;
    width: 50%;
    padding: 10px;
    height: 500px;
    padding-right: 150px;
    padding-left: 100px;
}
.column2 {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
    padding-right: 100px;
    padding-left: 150px;
}

.restaurant-card {
    margin: 15px;
    width: 295px;
    border-radius: 25px;
    margin: 15px 150px;
}

.src-btn {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #147160;
    color: white;
}

@media screen and (max-width: 600px) {
    a.PCorMobile {
        display: none;
    }
    p.titlu {
        float: none;
        text-align: center;
        margin-left: 40%;
    }
}
