<div>
    <mat-card class="header">
        <div style="overflow: hidden;">
            <p class="titlu" style="float: left;">Master Chef Devs</p>
            <ng-container *ngIf="!isLoggedIn(); else logoutBlock">
                <a href="/login"class="PCorMobile" style="float: right;color: white;">Login</a>
                <a href="/register"class="PCorMobile" style="float: right;color: white;">Register/</a>
            </ng-container>
            <ng-template #logoutBlock>
                <a href="#" style="float: right;color: white;" (click)="logout()">Logout</a>
            </ng-template>
        </div>
    </mat-card>
</div>
<br>
<br>
<div fxLayoutAlign="top center" fxLayout="column" style="background-image: url('assets/topp.svg'); background-size: 100% 100%; background-repeat: no-repeat;">
    <div class="search-container">
        <a *ngIf="isLoggedIn()"
            class="lista-rezervari-btn" 
            mat-raised-button 
            routerLink="/lista-rezervari">Lista rezervari</a>
        <input style="font-size: 25px;" [(ngModel)]="searchKeyword">
        <button mat-raised-button class="src-btn" (click)="search()">Search</button>
    </div>

    <div *ngFor="let restaurant of restaurants; index as i" style="width: 100%;">
        <div *ngIf="i%2==0" class="row">
            <mat-card class="restaurant-card" routerLink="/restaurant/{{restaurant.id}}">
                <div fxLayoutAlign="stretch" fxLayout="column">
                    <img class="restaurantImage" alt="Restaurant image"
                        [src]="restaurant.poza">
                    <p>{{restaurant.nameR}}</p>
                    <p>{{restaurant.adresa}}</p>
                </div>
            </mat-card>
            <mat-card *ngIf="i+1 < restaurants.length" routerLink="/restaurant/{{restaurants[i+1].id}}" class="restaurant-card">
                <div fxLayoutAlign="stretch" fxLayout="column">
                    <img class="restaurantImage" alt="Restaurant image"
                    [src]="restaurants[i+1].poza">
                    <p>{{restaurants[i+1].nameR}}</p>
                    <p>{{restaurants[i+1].adresa}}</p>
                </div>
            </mat-card>
        </div>
    </div>

</div>
<footer style="position: relative;left: 0;bottom: 0;width: 100%;">
    <div class="row">
        <div class="column">
            <a>URL here</a>
            <br>
            <br>
            <a>URL here</a>
        </div>
        <div class="column">
            <a>URL here</a>
            <br>
            <br>
            <a>URL here</a>
        </div>
    </div>
    <p>Copyright 2020 MCD<br>
    </p>
</footer>