<div>
    <mat-card class="header">
        <div style="overflow: hidden;">
            <p class="titlu" style="float: left;">Master Chef Devs</p>
            <a href="/search" class="PCorMobile" style="float: right;color:white;">&lt; Back</a>
        </div>
    </mat-card>
</div>

<div fxLayoutAlign="center center" fxLayout="column" fxFlexFill>
    <p style="font-size: 30px; color: #147160;">
        Create your account!
    </p>
    <mat-card fxFlex="40">
        <div fxLayoutAlign="stretch" fxLayout="column">
            <mat-form-field>
                <input matInput placeholder="user" [(ngModel)]="username">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="password" [(ngModel)]="password">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="confirm password">
            </mat-form-field>
            <button routerLink="/search" mat-raised-button (click)="registerClick()" style="background-color: #147160; color:white;">register</button>
        </div>
    </mat-card>
    <br>
    <br>
    <br>
    <a href="/login" style="font-size: 15px; color:cadetblue">Already have an account?</a>
</div>

<footer style="position: relative;left: 0;bottom: 0;width: 100%;">
    <div class="row">
        <div class="column">
            <a>URL here</a>
            <br>
            <br>
            <a>URL here</a>
        </div>
        <div class="column">
            <a>URL here</a>
            <br>
            <br>
            <a>URL here</a>
        </div>
    </div>
    <p>Copyright 2020 MCD<br>
    </p>
</footer>
