<div>
    <mat-card class="header">
        <div style="overflow: hidden;">
            <p class="titlu" style="float: left;">Master Chef Devs</p>
            <a class="PCorMobile" style="float: right;">&lt; Back</a>
        </div>
    </mat-card>
</div>

<div fxLayoutAlign="center center" fxLayout="column" fxFlexFill>
    <p style="font-size: 30px; color: #147160;">choose a restaurant</p>
    <p style="font-size: 20px;">or</p>
    <mat-card fxFlex="35">
        <div fxLayoutAlign="stretch" fxLayout="column">
            <mat-form-field>
                <input matInput placeholder="user" [(ngModel)]="username">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="password" [(ngModel)]="password">
            </mat-form-field>
            <label style="text-align: center;">ceva</label>
            <button mat-raised-button (click)="loginClick()" style="background-color: #147160; color:white;">sign in</button>
        </div>
    </mat-card>
    <br>
    <br>
    <br>
    <a style="font-size: 15px; color:cadetblue">create account</a>
</div>

<footer>
    <div class="row">
        <div class="column">
            <a>URL here</a>
            <br>
            <br>
            <a>URL here</a>
        </div>
        <div class="column">
            <a>URL here</a>
            <br>
            <br>
            <a>URL here</a>
        </div>
    </div>
    <p>Copyright 2020 MCD<br>
    </p>
</footer>
