<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



<div>
    <mat-card class="header">
        <div style="overflow: hidden;">
            <p class="titlu" style="float: left;">Master Chef Devs</p>
            <a class="PCorMobile" style="float: right; color: white;">&lt; Back</a>
        </div>
    </mat-card>
</div>


<div fxLayoutAlign="center center" fxLayout="column">
    <p style="color: #147160; font-size: 50px;padding-top: 20px;">McDonald's</p>
            <br>
            <p style="color: #147160; font-size: 30px;">Restaurant Adress</p>
            <br>
            <p>
                    <a href="#">
                      <span class="glyphicon glyphicon-star" style="color: #147160; font-size:25px;"></span>
                      <span class="glyphicon glyphicon-star" style="color: #147160; font-size:25px;"></span>
                      <span class="glyphicon glyphicon-star" style="color: #147160; font-size:25px;"></span>
                      <span class="glyphicon glyphicon-star" style="color: #147160; font-size:25px;"></span>
                      <span class="glyphicon glyphicon-star" style="color: #147160; font-size:25px;"></span>
                      <span class="glyphicon glyphicon-star-empty" style="color: #147160; font-size:25px;"></span>
                    </a>
                  
            </p>
    <mat-card fxFlex="35" class="LatimeMatCard">
        <div fxLayoutAlign="stretch" fxLayout="column">
            <mat-form-field>
                <p style="text-align: center; font-size: 30px; color: #147160">Leave a Review</p>
                <p style="text-align: center;">
                    <a href="#">
                      <span class="glyphicon glyphicon-star" style="color: #147160; font-size:25px;"></span>
                      <span class="glyphicon glyphicon-star" style="color: #147160; font-size:25px;"></span>
                      <span class="glyphicon glyphicon-star" style="color: #147160; font-size:25px;"></span>
                      <span class="glyphicon glyphicon-star" style="color: #147160; font-size:25px;"></span>
                      <span class="glyphicon glyphicon-star" style="color: #147160; font-size:25px;"></span>
                      <span class="glyphicon glyphicon-star-empty" style="color: #147160; font-size:25px;"></span>
                    </a>
                  
            </p>
            <textarea class="LatimeTextArea" style="height: 100px;"></textarea>
            </mat-form-field>
            <button mat-raised-button class="LatimeButon" style="background-color: #147160; color:white;">Submit</button>
        </div>
    </mat-card>
    <br>
    
    <a style="font-size: 15px; color:cadetblue">Review List</a>
    <br>
    <mat-card fxFlex="35" class="LatimeMatCard">
        <div fxLayoutAlign="stretch" fxLayout="column">
            
            <mat-form-field>
                <div>
                    <span>
                        <label style="color: #147160; font-size:20px;font-family:Arial, Helvetica, sans-serif;">User123</label>
                        <label class="LableComment" style="color: #147160; font-size:20px;font-family:Arial, Helvetica, sans-serif;">Comment</label>
                    </span>
                    <br>
                    <p>
                        <a href="#">
                          <span class="glyphicon glyphicon-star" style="color: #147160; font-size:15px;"></span>
                          <span class="glyphicon glyphicon-star" style="color: #147160; font-size:15px;"></span>
                          <span class="glyphicon glyphicon-star" style="color: #147160; font-size:15px;"></span>
                          <span class="glyphicon glyphicon-star" style="color: #147160; font-size:15px;"></span>
                          <span class="glyphicon glyphicon-star" style="color: #147160; font-size:15px;"></span>
                          <span class="glyphicon glyphicon-star-empty" style="color: #147160; font-size:15px;"></span>
                        </a>
                      
                </p>
                </div>
            </mat-form-field>
       
            <hr>
            <mat-form-field>
                <div>
                    <span>
                        <label style="color: #147160; font-size:20px;font-family:Arial, Helvetica, sans-serif;">User123</label>
                        <label class="LableComment" style="color: #147160; font-size:20px;font-family:Arial, Helvetica, sans-serif;">Comment</label>
                    </span>
                    <br>
                    <p>
                        <a href="#">
                          <span class="glyphicon glyphicon-star" style="color: #147160; font-size:15px;"></span>
                          <span class="glyphicon glyphicon-star" style="color: #147160; font-size:15px;"></span>
                          <span class="glyphicon glyphicon-star" style="color: #147160; font-size:15px;"></span>
                          <span class="glyphicon glyphicon-star" style="color: #147160; font-size:15px;"></span>
                          <span class="glyphicon glyphicon-star" style="color: #147160; font-size:15px;"></span>
                          <span class="glyphicon glyphicon-star-empty" style="color: #147160; font-size:15px;"></span>
                        </a>
                      
                </p>
                </div>
            </mat-form-field>
            <hr>
            <mat-form-field>
                <div>
                    <span>
                        <label style="color: #147160; font-size:20px;font-family:Arial, Helvetica, sans-serif;">User123</label>
                        <label class="LableComment" style="color: #147160; font-size:20px;font-family:Arial, Helvetica, sans-serif;">Comment</label>
                    </span>
                    <br>
                    <p>
                        <a href="#">
                          <span class="glyphicon glyphicon-star" style="color: #147160; font-size:15px;"></span>
                          <span class="glyphicon glyphicon-star" style="color: #147160; font-size:15px;"></span>
                          <span class="glyphicon glyphicon-star" style="color: #147160; font-size:15px;"></span>
                          <span class="glyphicon glyphicon-star" style="color: #147160; font-size:15px;"></span>
                          <span class="glyphicon glyphicon-star" style="color: #147160; font-size:15px;"></span>
                          <span class="glyphicon glyphicon-star-empty" style="color: #147160; font-size:15px;"></span>
                        </a>
                      
                </p>
                </div>
            </mat-form-field>
        </div>
    </mat-card>
    <br>
</div>

<footer>
    <div class="row">
        <div class="column">
            <a style="color: white;">URL here</a>
            <br>
            <br>
            <a style="color: white;">URL here</a>
        </div>
        <div class="column">
            <a style="color: white;">URL here</a>
            <br>
            <br>
            <a style="color: white;">URL here</a>
        </div>
    </div>
    <p>Copyright 2020 MCD<br>
    </p>
</footer>
