<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<div>
    <mat-card class="header">
        <div style="overflow: hidden;">
            <p class="titlu" style="float: left;">Master Chef Devs</p>
            <a class="PCorMobile" style="float: right;color: white;">&lt; Back</a>
        </div>
    </mat-card>
</div>

<span fxLayoutAlign="left center" fxFlexFill>
    <div class="row">
        <div class="column1">
            <img width="200" height="100" alt="Logo restaurant" src="https://www.bestdesigns.co/uploads/inspiration_images/4531/990__1511456189_555_McDonald's.png" style="padding-left: 70px;">
            <br>
            <br>
            <br>
            <br>
            <div style="padding-left: 30px;">
            <mat-card fxFlex="75">
            <div fxLayoutAlign="stretch" fxLayout="column">
                <mat-form-field routerLink="/reservation">
                    <button mat-raised-button style="background-color: #147160; color:white;width: 95%; font-size:20px">Make Reservation</button>
                </mat-form-field>
                <mat-form-field>
                    <button mat-raised-button style="background-color: #147160; color:white;width: 95%; font-size:20px">View Statistics</button>
                </mat-form-field>
                <mat-form-field routerLink="/reviews">
                    <button mat-raised-button style="background-color: #147160; color:white;width: 95%; font-size:20px; padding-left:medium;">View Reviews</button>
                </mat-form-field>
            </div>
            </mat-card>
            </div>
        </div>
    
        <div class="column2">
            <p style="color: #147160; font-size: 50px;">McDonald's</p>
            <br>
            <p style="color: #147160; font-size: 30px;">Restaurant Adress</p>
            <br>
            <p>
                    <a href="#">
                      <span class="glyphicon glyphicon-star-empty" style="color: #147160; font-size:25px;"></span>
                      <span class="glyphicon glyphicon-star-empty" style="color: #147160; font-size:25px;"></span>
                      <span class="glyphicon glyphicon-star-empty" style="color: #147160; font-size:25px;"></span>
                      <span class="glyphicon glyphicon-star-empty" style="color: #147160; font-size:25px;"></span>
                      <span class="glyphicon glyphicon-star-empty" style="color: #147160; font-size:25px;"></span>
                    </a>
                  
            </p>
            <img width="500" height="300" alt="Google maps" src="https://www.vertical-leap.uk/wp-content/uploads/2017/11/map-1400x800.jpg">
        </div>
    </div>
</span>


<footer style="position: relative;left: 0;bottom: 0;width: 100%;">
    <div class="row">
        <div class="column">
            <a style="color: white;">URL here</a>
            <br>
            <br>
            <a style="color: white;">URL here</a>
        </div>
        <div class="column">
            <a style="color: white;">URL here</a>
            <br>
            <br>
            <a style="color: white;">URL here</a>
        </div>
    </div>
    <p>Copyright 2020 MCD<br>
    </p>
</footer>

